<div class="header">
  <h1><%= @user.name %>のページ</h1>
</div>
<br>
<div class="user_info">
  <p>メールアドレス: <%= @user.email %></p>
</div>
<br>
<div class="blog_url">
  <%= link_to '新しくブログを投稿する', new_blog_path, class: "cp_link" %>
</div>
