.title_text{
  font-size: 30px;
  text-align: center;
  color: #008BBB;
}
img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  margin : 0 auto;
}
.image_area{
  text-align: center;
}
.content_text{
  font-size: 30px;
  text-align: center;
  color: #008BBB;
}
