.title_text{
  font-size: 30px;
  text-align: center;
  color: #008BBB;
}
img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin : 0 auto;
}
.image_area{
  text-align: center;
}
.content_text{
  font-size: 30px;
  text-align: center;
  color: #008BBB;
}
