header {
  background-color: #3b5998;
  height: 70px;
}
footer {
  text-align: center;
  width: 100%;
  color: gray;
  position: absolute;
  bottom: 0;
}
body {
  background-color: #EEEEEE;
}
a:hover {
  color: black;
}
.block-tit {
  margin-top: 0;
  font-family: San Francisco;
  color: white;
  position: relative;
  top: 20px;
  left: 120px;
  font-weight: bold;
}
.head-link {
  display: block;
  text-align: right;
  width: 100%;
  margin-bottom: 20px;
}
.login-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
.signup-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
.profile-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
.logout-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
