header {
  background-color: #3b5998;
  height: 70px;
}
footer {
  text-align: center;
  color: gray;
}
body {
  background-color: #EEEEEE;
}
a:hover {
  color: black;
}
.header-text {
  font-family: San Francisco;
  color: white;
  font-weight: bold;
  margin-top: 0;
  margin-left: 30px;
  position: relative;
  top: 25px;
}
.head-link {
  display: block;
  text-align: right;
  width: 100%;
  margin-bottom: 20px;
}
.login-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
.signup-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
.profile-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
.logout-link {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}
